<ion-content  padding class="background" >
  <div class="container-login100" style="background-image: url('../../../assets/dumbbell.jpg');"> 
    <div class="login-box">
      <form >
        <span class="login100-form-title p-b-65">
          Forgot Password
        </span>

        <ion-item class="textbox">
          <ion-label floating>
            <ion-icon name="mail" item-start class="text-primary" >            
            </ion-icon>
          </ion-label>          
            <ion-input background ="white" type="email" placeholder="Email" #userName required></ion-input>       
        </ion-item>  

        <div class="p-t-54 p-b-20"></div>

        <button class="btn" (click)="authService.ForgotPassword(userName.value)">
          <ion-icon name="log-in"></ion-icon>
           Send Reset Link
        </button>

      </form>
    </div>
  
  </div>

</ion-content>