<ion-app>
  
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="view-list">
          <ion-list-header>Menu</ion-list-header>
          
          <ion-menu-toggle  menuId="myMenu" auto-hide="false"  *ngFor="let p of appPages; let i = index">
            <ion-item    (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="i">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>          
          </ion-menu-toggle>
          <ion-item routerDirection="root" routerLink="home/logout" lines="none" detail="false">
            <ion-icon icon="log-out" slot="start"></ion-icon>
            <ion-label> Logout</ion-label>
          </ion-item>
        </ion-list>        
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  
</ion-app>
